PDB_HOST=postgres
PDB_PORT=5432
PDB_USER=pguser
PDB_PASSWORD=pgpassword
PDB_DATABASE=pdb
QUEUE_TO_PROCESS=to_process
QUEUE_TO_HANDLE=to_handle
EXCHANGE_TO_SEND=to_send
QUEUE_TO_SEND_TELEGRAM=to_send_t
QUEUE_TO_RESPOND=to_respond
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rmuser
RABBITMQ_PASSWORD=rmpassword